.button{
    width: 60%;
    height: 45px;
    align-self: center;
    border-radius: 80px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    transition: .3s ease;
}

.primary {
    background-color: transparent;
    color: black;
    border-radius: 80px;
    border: 2px solid #B0A3CE;
}

.secondary {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.primary:hover{
    background-color: #B0A3CE;
    color: #fff;
}

.secondary :hover{
    color: #fff;
    background-color: #000;
}