

@media screen and (max-width: 600px) {
    .slide{
        margin-top: -10px;
        height: 120px;
        width: 100%;
        border: 1px solid #000;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .slide div{
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
    }
}