.Category {
    margin: 20px 0px 40px;
}

.Category h2 {
    font-size: 28px;
    font-weight: 100;
}

.itemListings {
    display: flex;
    gap: 30px;
    overflow: scroll;
}

.itemListings::-webkit-scrollbar {
    display: none;
}