.link{
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 10px;
}
.link::-webkit-scrollbar{
    display:  none;
}

    .link ul {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .link ul li{
        list-style: none;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: #bebebe;
        border-radius: 14px;
        transition: .3s ease;
    }
    .link ul li:hover{
        background: #686767;
    }
    .link ul li:hover a{
        color: #dddbdb;
    }
    .link ul li a{
        font-size: 18px;
        text-decoration: none;
        font-weight: 500;
        color: #414141;
        margin-bottom: -3px;
        transition: .3s ease;
    }
.link ul li.active{
    background-color: #000;
}

.link ul li.active a{
    color: #dddbdb;
}