.item {
    display: flex;
    gap: 5px;
    justify-content: left;
    font-weight: bold;
    max-width: 400px;
    flex-direction: column;
}

.itemImage {
    width: 180px;
    /* height: 200px; */
    
    border-radius: 10px;
    padding-bottom: 10px;
}

.itemName {
    font-size: 18px;
}

