.itemCard {
  padding: 16px;
  transition: transform 0.2s;
  cursor: pointer;
}

.itemCard:hover {
  transform: translateY(-2px);
}
.container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
}
.itemImage {
    width: 150px;
    /* border-radius: 10px; */
    padding-bottom: 10px;
}

.itemName {
    font-size: 18px;
    color: #000000;
    padding:3px;
}
.discount {
    text-decoration: line-through;
    color: grey;
    padding:3px;
}
.text{
    color: grey;
    padding:3px;
}

@media (min-width: 768px) {
  .container {
 display: flex;
 width: 100%;
 flex-wrap: wrap;
  
}
}

@media (max-width: 371px){
  .container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.itemImage {
    width: 150px;
    /* border-radius: 10px; */
    padding-bottom: 10px;
}

}


@media (max-width: 365px){
.itemImage {
    width: 130px;
    /* border-radius: 10px; */
    padding-bottom: 10px;
}

}
