@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600;700&family=PT+Serif&family=Young+Serif&display=swap');
@media (max-width: 768px) {
    .sm-hidden {
      display: none;
    }
    .bg-splash {
  background-image: url('https://questgig.com/api/relisted/images/WhatsApp Image 2023-10-01 at 23.24.08.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
    
  }
  @media (min-width: 768px) {
    .lg-hidden {
      display: none;
    }
    .bg-splash {
      background-image: url('https://questgig.com/api/relisted/images/321047656_199967325929041_8755075386117953127_n (1).jpg');
    }
  }
  
  @font-face {
    font-family: 'Brice'; /* Name your font */
    src: url('assets/BriceRegularSemiExpanded.otf') format('opentype'); /* Specify the URL of your font file and format */
    font-weight: bold; /* Specify font weight */
    font-style: normal; /* Specify font style */
  }
  
  /* Apply the 'Brice' font directly to elements with the class '.logo-font' */
  .logo-font {
    font-family: 'Brice'; /* Use 'Brice' font without any fallback */
  }
  
  /* p, h1{
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Young Serif', serif;
  } */
  .bg-hero {
    background-image: url(https://questgig.com/api/relisted/images/327862073_1329718951174745_4753541720980693501_n.jpg);
}



.hero-img {
  margin-top: 96px;
}

.futura {
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.bg-primary {
  background-color: #B0A3CE;
}

.text-primary {
  color: #B0A3CE;
}

.times-new-roman {
  font-family: 'PT Serif', serif;
}